<style>
    .post {
        border-radius: 15px;
        margin-bottom: 15px;

        border: 1px solid rgb(212, 213, 213);
        background-color: white;
    }
    .post__container {padding: 12px 20px;}
    .post__replaced_image_blank {margin-bottom: 2px;}
</style>

{% include 'post/posts/post/buttons/css.html' %}
{% include 'post/posts/post/description/css.html' %}
{% include 'post/posts/post/header/css.html' %}
{% include 'post/posts/post/image/css.html' %}
{% include 'post/posts/post/replies/css.html' %}