{% extends 'base/base.html' %}
{% load static %}
{% load dot_to_paragraph %}

{% block title %}Confirm your password{% endblock %}

{% block links %}
    {% include 'shared/dark_input_page_css.html' %}
    {% include 'registration/password_reset_confirm/css.html' %}
{% endblock %}

{% block main %}
    <div style="position: relative; top: 10%; transition: .2s">
        <div class="password_reset">
            {% if validlink %}
                <div class="password_reset__title">Please enter your password.</div>
                <form method="POST" autocomplete="off">
                    {% csrf_token %}
                    <div class="new_password1_wrapper">
                        <span class="label">{{ form.new_password1.label }}</span>
                        {{ form.new_password1 }}{{ form.new_password1.errors }}
                    </div>
                    <div class="new_password2_wrapper">
                        <span class="label">{{ form.new_password2.label }}</span>
                        {{ form.new_password2 }}{{ form.new_password2.errors }}
                    </div>
                    <button type="submit">Reset</button>
                </form>
            {% else %}
                <div class="password_reset__little_title">
                    The password rest link is invalid.
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}