<div class="post__replies"
     {% if not post.replies.exists %}
        style="padding: 0; border-top: 0;"
     {% elif post.replies.count >= 2 %}
        style="padding: 14px 20px 0 18px; margin-bottom: -10px;"
     {% elif post.replies.count == 1 %}
        style="margin-bottom: -10px;"
     {% endif %}>

    {% include 'post/posts/post/replies/list/list.html' %}

    <span class="post__replies-show_more {% if post.replies.count <= 1 %}no_display{% endif %}">
        Show more
    </span>

    {% include 'post/posts/post/replies/footer/footer.html' %}

</div>