{% extends 'base/base.html' %}
{% load static %}
{% load thumbnail %}

{% block title %}Profile{% endblock %}

{% block links %}
    {% include 'account/profile/css.html' %}
    {% include 'post/posts/css.html' %}
    {% include 'post/posts/createPostForm/css.html' %}
{% endblock %}

{% block main %}
    <div class="profile">
        <div class="profile__container">
            {% include 'account/profile/header/header.html' %}

            <div class="profile__main_content">

                <div class="profile_all_posts">
                    {% if is_owner %}
                        <div class="profile__create_post_form">
                            {% include 'post/posts/createPostForm/createPostForm.html' %}
                        </div>
                    {% endif %}

                    <div class="profile-posts__container posts__container">
                        {% for post in user_posts %}
                            {% include 'post/posts/post/post.html' %}
                        {% endfor %}

                        {% if not is_owner and not user_posts.exists %}
                            <div class="post">
                                <div class="post__container no_exists__post_container">
                                    No posts yet
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>

                <div class="profile__followings">
                    {% if not user.followings.exists %}
                        <div style="padding: 2px 0">No followings yet</div>
                    {% else %}
                        <div class="profile__followings-title">Followings</div>
                    {% endif %}

                    {% for following_user in user.followings.all|slice:"8" %}
                        <article class="following_user">
                            <div class="following_user__image">
                                {% if following_user.photo %}

                                    <img src="{% thumbnail following_user.photo 100x100 crop="smart" %}"
                                         class="following_user__image-img" alt="">

                                {% else %}

                                    <img src="{% static 'base/images/profile.png' %}"
                                         class="following_user__image-img" alt="">

                                {% endif %}
                            </div>
                            <div class="following_user__username"
                                 onclick="location.href='{{ following_user.get_absolute_url }}'">
                                {{ following_user.username }}
                                {% if following_user.is_staff %}
                                    <span style="position: relative; right: 4px;">
                                        {% include 'shared/icon_verified.html' %}
                                    </span>
                                {% endif %}
                            </div>
                        </article>
                    {% endfor %}
                </div>

            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script defer src="{% static 'base/js/axios.min.js' %}"></script>
    {% include 'account/profile/js.html' %}
    {% include 'post/posts/js.html' %}

{% endblock %}
