{% extends 'base/base.html' %}
{% load static %}

{% block title %}Profile{% endblock %}

{% block links %}
    {% include 'post/posts/__js__/onUpdateWindowTop.html' %}
    {% include 'account/profile/css.html' %}
    {% include 'post/posts/css.html' %}
    {% include 'post/posts/createPostForm/css.html' %}
{% endblock %}

{% block main %}
    <div class="profile">
        <div class="profile__container">
            {% include 'account/profile/header/header.html' %}

            <div class="profile__main_content">

                <div class="profile_all_posts">
                    {% if is_owner %}
                        <div class="profile__create_post_form">
                            {% include 'post/posts/createPostForm/createPostForm.html' %}
                        </div>
                    {% endif %}

                    <div class="profile-posts__container posts__container">
                        {% for post in user_posts %}
                            {% include 'post/posts/post/post.html' %}
                        {% endfor %}

                        {% if not is_owner and not user_posts.exists %}
                            <div class="post">
                                <div class="post__container no_exists__post_container">
                                    No posts yet
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>

                {% include 'account/profile/followings/followings.html' %}

            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script defer src="{% static 'base/js/axios.min.js' %}"></script>
    {% include 'account/profile/js.html' %}
    {% include 'post/posts/js.html' %}

{% endblock %}
