{% extends 'base/base.html' %}
{% load static %}
{% load thumbnail %}

{% block title %}Profile{% endblock %}

{% block links %}
    {% include 'account/profile/css.html' %}
    {% include 'post/posts/css.html' %}
{% endblock %}

{% block main %}
    <div class="profile">

        {% include 'account/profile/header/header.html' %}

        {% if not is_owner %}
            {% include 'account/profile/createImageForm/createImageForm.html' %}
        {% endif %}

        <div class="post_container">
            {% for post in user_posts %}
                {% include 'post/posts/post/post.html' %}
            {% endfor %}
        </div>

    </div>
{% endblock %}

{% block scripts %}
    <script defer src="{% static 'base/js/axios.min.js' %}"></script>
    {% include 'account/profile/js.html' %}
    {% include 'post/posts/js.html' %}
{% endblock %}
