<script defer>
    function infinityPaginationHandler(query_strings = '') {
        const posts_container = document.querySelector('.posts__container')
        const extraMargin = 0

        let emptyPage = false
        let page = 1
        let elem = document.querySelector('[hx-trigger="revealed"]')
        let isCreated = false
        let blockRequest = false

        window.onscroll = (event) => {
            const force = event.detail ? event.detail.force : false

            if (!blockRequest && !emptyPage) {
                const offset = elem => elem.getBoundingClientRect().top

                if (!isCreated) {
                    isCreated = true
                    setTimeout(() => {
                        isCreated = false
                        elem = document.querySelector('[hx-trigger="revealed"]')
                    }, 100)
                }
                const clientHeight = document.documentElement.clientHeight
                const last_post = elem ? offset(elem) : clientHeight+1
                const margin = last_post - extraMargin

                if (!blockRequest && !emptyPage && clientHeight > margin || force) {
                    if (force) {
                        const header_width = getComputedStyle(document.querySelector('header')).width
                        posts_container.innerHTML = ''
                        onPossibleScroll(header_width)
                    }
                    posts_container.insertAdjacentHTML(
                        'beforeend',
                        `{% include 'shared/loading_icon.html' with center=True %}`
                    )

                    elem && elem.removeAttribute('hx-trigger')
                    blockRequest = true

                    if (!force) page++

                    async function _() {
                        const url = `{% url 'post:download_posts' %}`
                        let full_url = ''

                        if (force) {
                            full_url = `${url}?page=1`
                        } else {
                            full_url = `${url}?page=${page}&${query_strings}`
                        }

                        const response = await axios.get(full_url)
                        const html = response.data

                        if (html === '') emptyPage = true
                        else {
                            const elementFinder  = document.createElement('div')
                            elementFinder.innerHTML = html

                            if (force) posts_container.innerHTML = ''
                            const elements = Array.from(elementFinder.children)
                            elements.forEach(elem => {
                                posts_container.insertAdjacentElement(
                                    'beforeend', elem
                                )
                                setReplyLink({
                                    reply_footer_form: elem.querySelector('.post__replies-footer'),
                                    content_input: elem.querySelector('input[id="id_content"]'),
                                    reply_link: elem.querySelector('.reply__link'),
                                    post_replies: elem.querySelector('.post__replies'),
                                })
                                setLikeButton({
                                    form: elem.querySelector('.like__button-form'),
                                    like_button_container: elem.querySelector('.like__button-container'),
                                    like_action: elem.querySelector('.like__button-action'),
                                    like_counter: elem.querySelector('.like__button-like_counter'),
                                    post_id: elem.querySelector('.like__button-post_id')
                                })
                                setRepliesButton({
                                    form: elem.querySelector('.post__replies-footer-form'),
                                    reply_list: elem.querySelector('.post__replies-list'),
                                    post_id: elem.querySelector('.like__button-post_id'),
                                    content_input: elem.querySelector('input[id="id_content"]'),
                                    reply_link_counter: elem.querySelector('.reply__link-counter'),
                                })
                                setShowMoreItem({
                                    replies_set: elem.querySelector('.post__replies-list-all'),
                                    replies_first: elem.querySelector('.reply_item-info--first'),
                                    show_more: elem.querySelector('.post__replies-show_more'),
                                    post_id: elem.querySelector('.like__button-post_id'),
                                })
                            })
                            showScroll()
                        }

                        blockRequest = false

                        const loading_icon = document.querySelector('.loading_icon')
                        loading_icon && loading_icon.remove()
                    }_()
                }
            }
        }
    }

    window.addEventListener(
        'DOMContentLoaded', () => infinityPaginationHandler()
    )
</script>