<script defer>
    const search_form = document.querySelector('.users__filters-search-form')
    const input = document.querySelector('.filters__search-input')
    const cross = document.querySelector('.filters__search-cross')

    search_form.onsubmit = (e) => {
        e.preventDefault()

        const header_width = getComputedStyle(document.querySelector('header')).width
        const query = input.value

        if (query) {
            posts_container.innerHTML = `{% include 'shared/loading_icon.html' with center=True %}`
            onPossibleScroll(header_width)

            async function _() {
                const url = `{% url 'post:search_posts' %}`
                const response = await axios.get(`${url}?query=${query}`)

                window.scrollTo(0, 0)
                cross.hidden = false
                input.style.paddingRight = '14px'

                posts_container.innerHTML = ''
                addParsedPostsToContainer(response)
                infinityPaginationHandler(`query=${query}`)

                const new_header_width = getComputedStyle(document.querySelector('header')).width
                onPossibleScroll(new_header_width)
            }_()
        } else {input.focus()}

    }

    function addParsedPostsToContainer(response) {
        const users_batch = document.createElement('div')
        users_batch.innerHTML = response.data

        const elements = Array.from(users_batch.children)
        elements.forEach(
            elem => {
                posts_container.insertAdjacentElement(
                    'beforeend', elem
                )
                setReplyLink({
                    reply_footer_form: elem.querySelector('.post__replies-footer'),
                    content_input: elem.querySelector('input[id="id_content"]'),
                    reply_link: elem.querySelector('.reply__link'),
                    post_replies: elem.querySelector('.post__replies'),
                })
                setLikeButton({
                    form: elem.querySelector('.like__button-form'),
                    like_button_container: elem.querySelector('.like__button-container'),
                    like_action: elem.querySelector('.like__button-action'),
                    like_counter: elem.querySelector('.like__button-like_counter'),
                    post_id: elem.querySelector('.like__button-post_id')
                })
                setRepliesButton({
                    form: elem.querySelector('.post__replies-footer-form'),
                    reply_list: elem.querySelector('.post__replies-list'),
                    post_id: elem.querySelector('.like__button-post_id'),
                    content_input: elem.querySelector('input[id="id_content"]'),
                    reply_link_counter: elem.querySelector('.reply__link-counter'),
                })
                setShowMoreItem({
                    replies_set: elem.querySelector('.post__replies-list-all'),
                    replies_first: elem.querySelector('.reply_item-info--first'),
                    show_more: elem.querySelector('.post__replies-show_more'),
                    post_id: elem.querySelector('.like__button-post_id'),
                })

            }
        )
    }
</script>