<style>
    header {
        position: fixed;
        z-index: 100;
        width: 100%;
        height: 50px;
        background-color: #f2f2f2;
        color: #353a3d;
        font-size: 18px;

        display: grid;
        display: -ms-grid;
        grid-template-rows: 1fr;
        -ms-grid-rows: 1fr;

        grid-template-columns:
            57px auto 33px minmax(auto, 1fr) minmax(auto, 1fr);
        -ms-grid-columns:
                57px auto 33px minmax(auto, 1fr) minmax(auto, 1fr);

        align-items: center;
    }

    {% if request.user.is_authenticated %}

        @media (max-width: 500px) {
            header {
                grid-template-columns:
                    57px auto 0 0 minmax(auto, 1fr);
                -ms-grid-columns:
                        57px auto 0 0 minmax(auto, 1fr);
            }
            .menu__item {display: none;}
            .header__split {opacity: 0;}
        }

        @media (max-width: 374px) {
            header {width: 360px !important;}
        }

    {% else %}

        @media (max-width: 600px) {
            header {
                grid-template-columns:
                    62px auto 0 0 minmax(auto, 1fr);
                -ms-grid-columns:
                        62px auto 0 0 minmax(auto, 1fr);
            }
            .menu__item {display: none;}
            .header__split {opacity: 0;}
        }

        @media (max-width: 360px) {
            header {width: 360px !important;}
        }

    {% endif %}

</style>

{% include 'base/header/headerAuthLink/css.html' %}
{% include 'base/header/logo/css.html' %}
{% include 'base/header/menu/css.html' %}
{% include 'base/header/menuBurger/css.html' %}
{% include 'base/header/splitSymbol/css.html' %}
{% include 'base/header/user/css.html' %}