{% load static %}
{% load thumbnail %}

<article class="following_user"
         onclick="setBlockTopMove(); location.href='{{ following_user.get_absolute_url }}'">

    <div class="following_user__image">
        {% if following_user.photo %}
            <img src="{% thumbnail following_user.photo 128x128 crop="smart" quality=100 %}"
                 class="following_user__image-img" loading="lazy" alt="">
        {% else %}
            {% if following_user.gender == 'FL' %}
                <img src="{% static 'base/images/female.png' %}"
                     class="following_user__image-img no_select" loading="lazy" alt="">
            {% else %}
                <img src="{% static 'base/images/profile.png' %}"
                     class="following_user__image-img no_select" loading="lazy" alt="">
            {% endif %}
        {% endif %}
    </div>

    <div class="following_user__username">
        {{ following_user.username }}
        {% if following_user.is_staff %}
            <span style="position: relative; right: 4px;">
                {% include 'shared/icon_verified.html' %}
            </span>
        {% endif %}
    </div>

</article>