# [Pycharm]
*.idea
.idea

# venv
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
*venv
venv
*env
env
*my_venv
my_venv
*my_env
my_env

__pycache__/
__pypackages__/

# Django stuff:
*.log
local_settings.py
*media
*.media
*/media

# Celery stuff
celerybeat-schedule
celerybeat.pid