<style>
    .posts {
        display: flex;

        margin: 15px auto;
        max-width: 1000px;
    }

    .posts__container {
        flex: 0 1 680px;

        margin: 0 15px;
    }

    .posts__filters {
        flex: 0 1 300px;

        position: relative;
        width: 100%;
        height: 100%;
    }
    .posts__filters-container {
        position: fixed;
        width: 315px;
        height: 400px;
        margin-right: 15px;
        padding: 10px 20px;
        border: 1px solid rgb(228, 230, 231);
        border-radius: 15px;
    }
</style>

{% include 'post/posts/post/css.html' %}