<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">

    {% include 'base/css.html' %}

    {% block links %}
    {% endblock %}
</head>
<body>
    <div id="app_wrapper">
        {% include 'base/header/header.html' %}

        <main>
            {% block main %}
            {% endblock %}
        </main>

        {% block footer %}
        {% endblock %}
    </div>

    <script defer src="{% static 'base/js/class_list_api.js' %}"></script>

    {% include 'base/js.html' %}

    {% block scripts %}
    {% endblock %}
</body>
</html>