<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">

    {% include 'base/css.html' %}

    {% block links %}
    {% endblock %}
</head>
<body>
    <div id="app_wrapper">
        {% include 'base/header/header.html' %}

        <main>
            {% block main %}
            {% endblock %}
        </main>

        {% block footer %}
        {% endblock %}
    </div>

    {% include 'shared/SETUP.html' %}
    {% include 'base/js.html' %}

    {% include 'shared/js/loadLazyImages.html' %}

    {% block scripts %}
    {% endblock %}

    <script defer>
        let blockTopMove = false

        function setBlockTopMove() {
            blockTopMove = true
        }

        function set_a_tags() {
            const a_tags = Array.from(document.querySelectorAll('a'))
                                .filter(a => !a.classList.contains('blocker'))

            a_tags.forEach(a => {
                a.addEventListener('click', setBlockTopMove)
                a.classList.add('blocker')
            })
        }
        set_a_tags()
    </script>
</body>
</html>