{% load static %}
{% load thumbnail %}
{% load humanize %}

<div class="post__header">
    <div class="post__header-user">

        <div class="post__header-user-icon">
            <a href="{{ post.user.get_absolute_url }}">
                {% if post.user.photo %}
                    <img src="{% thumbnail post.user.photo 128x128 crop="smart" quality=100 %}" alt=""
                         class="post__header-user-icon-img no_select">
                {% else %}
                    {% if post.user.gender == 'FL' %}
                        <img src="{% static 'base/images/female.png' %}"
                             class="post__header-user-icon-img no_select" loading="lazy" alt="">
                    {% else %}
                        <img src="{% static 'base/images/profile.png' %}"
                             class="post__header-user-icon-img no_select" loading="lazy" alt="">
                    {% endif %}
                {% endif %}
            </a>
        </div>

        <div class="post__header-user-info">
            <div class="post__header-user-info-username">
                <a href="{{ post.user.get_absolute_url }}">
                    {{ post.user.username }}

                    {% if post.user.is_staff %}
                        <span style="position: relative; right: 4px;">
                            {% include 'shared/icon_verified.html' %}
                        </span>
                    {% endif %}

                </a>
            </div>
            <div class="post__header-user-info-updated">
                {{ post.updated | naturaltime }}
            </div>
        </div>

    </div>
</div>