{% load static %}
{% load thumbnail %}

<div class="user__photo-wrapper">
    <div class="user__photo">
        <a href="{% url 'account:detail' user.username %}" class="user__photo-link">
            {% if user.photo %}
                <img src="{% thumbnail user.photo 450x450 crop="smart" quality=100 %}"
                     class="no_select" loading="lazy" alt="">
            {% else %}
                {% if user.gender == 'FL' %}
                    <img src="{% static 'base/images/female.png' %}"
                         class="no_select" loading="lazy" alt="">
                {% else %}
                    <img src="{% static 'base/images/profile.png' %}"
                         class="no_select" loading="lazy" alt="">
                {% endif %}
            {% endif %}
        </a>
    </div>
</div>