<div class="followings__pagination">
    <span class="followings__pagination-left_arrow followings__pagination-arrow"
          onclick="">
        {% if following_users.has_previous %}
            {% include 'shared/left_arrow.html' with left_arrow_width=10 left_arrow_height=10 %}
        {% endif %}
    </span>


    <span class="followings__pagination-range">
        {% for page_number in following_users.paginator.page_range %}
            <span class="followings__pagination-item
                         {% if page_number == page %}followings__pagination-item--active{% endif %}">
                {{ page_number }}
            </span>
        {% endfor %}
    </span>

    {% if following_users.has_next %}
        <span class="followings__pagination-right_arrow followings__pagination-arrow"
              onclick="">
            {% include 'shared/right_arrow.html' with right_arrow_width=10 right_arrow_height=10 %}
        </span>
    {% endif %}

</div>