<script defer>
    const find_button = document.querySelector('.find_button-button') || {innerHTML: ''}
    const default_find_button_html = find_button.innerHTML

    const filters_form = document.forms.filters_form

    if (filters_form)
        filters_form.onsubmit = (e) => {
            e.preventDefault()

            const header_width = getComputedStyle(document.querySelector('header')).width

            function get_multi_query_strings(input_set, name) {
                return input_set.filter(checkout => checkout.checked)
                    .map(checkout => `${name}=${checkout.value}`)
            }

            const order_input_set = Array.from(filters_form.order)
            const photo_input = filters_form.photo
            const verified_input = filters_form.verified

            const order_set = get_multi_query_strings(order_input_set, 'order')
            const photo = photo_input.checked ? `photo=True` : ''
            const verified = verified_input.checked ? `verified=True` : ''

            let data = ''
            Array.from([order_set, photo, verified]).forEach(elem => {
                data += `${elem}&`
            })

            find_button.innerHTML = `{% include 'shared/loading_icon.html' with loading_icon_size=17 loading_icon_weight=3 %}`
            find_button.style.top = '4px'
            posts_filters_tags.style.paddingBottom = '8px'

            async function _() {
                const url = `{% url 'post:filter_posts' %}`
                const response = await axios.get(`${url}?${data}`)

                stable_block_list = structuredClone(block_list)

                window.scrollTo(0, 0)
                posts_container.innerHTML = ''

                addPostsToContainer(response, posts_container)
                infinityPaginationHandler(`${data}`)
                onPossibleScroll(header_width)

                const cross = document.querySelector('.filters__search-cross')
                cross.hidden = true

                find_button.innerHTML =  default_find_button_html
                find_button.style.top = '3px'
                posts_filters_tags.style.paddingBottom = '10px'
            }_()
        }
</script>