<script defer>
    function infinityPaginationHandler(query_strings = '', url = '') {
        const extraMargin = 1

        let emptyPage = false
        let page = 1
        let elem = document.querySelector('[hx-trigger="revealed"]')
        let isCreated = false
        let blockRequest = false

        window.onscroll = (event) => {
            const force = event.detail ? event.detail.force : false

            if (!blockRequest && !emptyPage) {
                const offset = elem => elem.getBoundingClientRect().top

                if (!isCreated) {
                    isCreated = true
                    setTimeout(() => {
                        isCreated = false
                        elem = document.querySelector('[hx-trigger="revealed"]')
                    }, 100)
                }
                const clientHeight = document.documentElement.clientHeight
                const last_post = elem ? offset(elem) : clientHeight+1
                const margin = last_post - extraMargin

                if (clientHeight > margin || force) {
                    if (force) {
                        const header_width = getComputedStyle(document.querySelector('header')).width
                        posts_container.innerHTML = ''
                        onPossibleScroll(header_width)
                    }
                    posts_container.insertAdjacentHTML(
                        'beforeend',
                        `{% include 'shared/loading_icon.html' with center=True loading_icon_margin=True %}`
                    )

                    elem && elem.removeAttribute('hx-trigger')
                    blockRequest = true

                    if (!force) page++

                    if (!url) url = `{% url 'post:download_posts' %}`
                    let full_url = force ? `${url}?page=1`
                                         : `${url}?page=${page}&${query_strings}`

                    const owner_id = `{{ user.id }}`
                    if (owner_id) full_url += `&owner_id=${owner_id}`

                    setTimeout(() => {
                        async function _() {
                            block_list.push(full_url)
                            const response = await axios.get(full_url)

                            if (!stable_block_list.includes(full_url)) {
                                const html = response.data

                                if (html === '') emptyPage = true
                                else {
                                    if (force) posts_container.innerHTML = ''

                                    addPostsToContainer(response, posts_container)
                                    showScroll()
                                }
                            }

                            blockRequest = false
                            const loading_icon = document.querySelector('.loading_icon')
                            loading_icon && loading_icon.remove()
                        }_()
                    }, LOADING_DELAY)
                }
            }
        }
    }

    window.addEventListener(
        'DOMContentLoaded', () => infinityPaginationHandler()
    )
</script>