<script defer>
    let searchRequestBlock = false
    const search_form = document.querySelector('.users__filters-search-form')
    if (search_form)
        search_form.onsubmit = (e) => {
            e.preventDefault()

            const header_width = getComputedStyle(document.querySelector('header')).width
            const query = search_input.value

            if (query && !searchRequestBlock) {
                posts_container.innerHTML = `{% include 'shared/loading_icon.html' with center=True loading_icon_margin=True %}`
                onPossibleScroll(header_width)

                async function _() {
                    searchRequestBlock = true

                    const url = `{% url 'post:search_posts' %}`
                    const response = await axios.get(`${url}?query=${query}`)

                    stable_block_list = structuredClone(block_list)

                    infinityPaginationHandler(`query=${query}`)

                    window.scrollTo(0, 0)
                    cross.hidden = false
                    search_input.style.paddingRight = '14px'
                    if (filters_form) {
                        const photo_input = filters_form.photo
                        const verified_input = filters_form.verified

                        photo_input.checked = false
                        verified_input.checked = false

                        const order_radio_set = filters_form.order
                        order_radio_set[0].checked = true
                        order_radio_set[1].checked = false
                    }
                    posts_container.innerHTML = ''

                    addPostsToContainer(response, posts_container)

                    const new_header_width = getComputedStyle(document.querySelector('header')).width
                    onPossibleScroll(new_header_width)

                    searchRequestBlock = false
                }_()
            } else {search_input.focus()}
    }
</script>