<style>
    .edit_window {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.3);
        z-index: 301;
    }
    .edit_window__container0 {
        position: fixed;
        top: 20%;
        left: calc(50% - 200px);
        overflow: hidden;
        border-radius: 10px;
        max-width: 400px;
        z-index: 305;
    }
    .edit_window__container0-container {
        padding: 45px 20px 15px 20px;
        border-radius: 10px;
        border: 1px solid rgb(238, 243, 244);
        background-color: white;
        box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
        height: 439px;
        overflow-y: scroll;
        color: #323638;
    }
</style>

{% include 'account/edit_window/form/css.html' %}
{% include 'account/edit_window/topLine/css.html' %}