{% load static %}
{% load minus %}

<div class="user__info">

    <div class="user__info-username">
        <a href="{% url 'account:detail' user.username %}"
           class="user__info-username-link">

            <span class="user__info-username-link-username">{{ user.username }}</span>

            {% if user.is_staff %}
                <span style="position: relative; right: 5px;">
                    {% include 'shared/icon_verified.html' %}
                </span>
            {% endif %}

        </a>
    </div>

    <div class="user__info-description">
        <div class="user__info-description-container">
            {{ user.description|default:"No info yet"|linebreaks|truncatechars:40 }}
        </div>
        <div class="follow_button">
            <form method="POST" class="follow_button__form">
                {% csrf_token %}
                <button class="follow_button__button {% if user.action == 'Unfollow' %}follow_button--red{% else %}follow_button--blue{% endif %}"
                        type="submit">
                    {{ user.action }}
                </button>
            </form>
        </div>
    </div>

</div>