{% load static %}
{% load thumbnail %}

<div class="posts__create_post">
    <div style="display: flex;">
        <div class="posts__user_icon">
            <a href="{{ request.user.get_absolute_url }}">
                {% if request.user.photo %}
                    <img src="{% thumbnail request.user.photo 128x128 crop="smart" quality=100 %}"
                         alt="" class="posts__user_icon-img" loading="lazy">
                {% else %}
                    {% if request.user.gender == 'FL' %}
                        <img src="{% static 'base/images/female.png' %}"
                             class="posts__user_icon-img no_select" loading="lazy" alt="">
                    {% else %}
                        <img src="{% static 'base/images/profile.png' %}"
                             class="posts__user_icon-img no_select" loading="lazy" alt="">
                    {% endif %}
                {% endif %}
            </a>
        </div>

        <form method="POST" class="posts__create_form" name="post_create_form">
            {% csrf_token %}
            <div class="posts__create_post-description">
                {{ post_form.description }}
            </div>
            <div class="posts__create_post-photo">
                {{ post_form.photo }}
            </div>
            <div class="posts__create_post-save">
                <button type="submit" class="posts__create_post-save-button">
                    Post
                </button>
            </div>
        </form>
    </div>
    <div class="create_post_photo_wrapper"></div>
</div>