<style>
    .posts {
        display: flex;
        transition: .2s;

        margin: 16px auto;
        max-width: 777px;
        color: #0f1419;
    }
    .posts__wrapper {
        flex: 0 1 540px;
        margin-right: 16px;
    }

    .posts__container {position: relative;}

    .posts__filters {
        flex: 0 0 206px;
        position: -webkit-sticky; /* for Safari */
        position: sticky;
        top: 66px;
        border-radius: 15px;
        border: 1px solid rgb(208, 208, 208);
        box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, .01);

        margin-right: 15px;
        align-self: flex-start;
    }
    section[class="posts__filters-search"] {
        padding: 5px 20px;
    }
    section[class="posts__filters-tags"] {
        padding: 8px 20px 10px 20px;
        color: #282c2c;
        animation: 0.2s show ease;
    }
    .search_order__select {
        height: 30px;
        padding: 0 5px;
        border-radius: 10px;
    }

    @keyframes show {
      from { opacity: 0; }
      to { opacity: 1; }
    }

    .filters__link_button {
        display: flex;
        align-items: center;
        justify-content: space-between;

        position: absolute;
        transition: .25s;
        right: 0;
        top: 55px;
        width: 92px;
        height: 34px;
        color: #353a3d;
        border-radius: 15px;
        padding: 2px 13px;
        cursor: pointer;
    }
    .filters__link_button:hover {
        background-color: rgba(200, 200, 200, 0.15);
    }

    @media (max-width: 900px) {
        .posts__filters {display: none;}
        .posts {max-width: 540px;}
        .posts__wrapper {margin: 0;}
    }
    @media (max-width: 600px) {
        .posts__wrapper {margin: 0 10px}
    }
    @media (max-width: 380px) {
        .posts {width: 360px}
    }

    @media (max-width: 376px) {
        header {width: 360px !important;}
    }
</style>

{% include 'post/posts/post/css.html' %}

<style>
    .post__image-img {
        max-width: 630px;
        max-height: 580px;
    }
</style>

{% include 'post/posts/filters/css.html' %}

{% include 'post/posts/createPostForm/css.html' %}