{% include 'shared/js/onPossibleScroll.html' %}

{% include 'post/posts/__js__/onUpdateWindowTop.html' %}
{% include 'post/posts/__js__/consts.html' %}
{% include 'post/posts/__js__/setLikeButtons.html' %}
{% include 'post/posts/__js__/setReplyButtons.html' %}
{% include 'post/posts/__js__/setShowMoreButtons.html' %}
{% include 'post/posts/__js__/setReplyLinks.html' %}
{% include 'post/posts/__js__/infinitive_pagination.html' %}
{% include 'post/posts/__js__/returnsToBasePosts.html' %}

{% include 'post/posts/createPostForm/__js__/form.html' %}
{% include 'post/posts/createPostForm/__js__/setPhotoWidget.html' %}
