{% include 'shared/js/onPossibleScroll.html' %}

{% include 'post/posts/__js__/consts.html' %}

{% include 'post/posts/__js__/setJS/setLikeButtons.html' %}
{% include 'post/posts/__js__/setJS/setReplyButtons.html' %}
{% include 'post/posts/__js__/setJS/setShowMoreButtons.html' %}
{% include 'post/posts/__js__/setJS/setReplyLinks.html' %}
{% include 'post/posts/__js__/setJS/setPostsElemJS.html' %}

{% include 'post/posts/__js__/buttons/showFilterButton.html' %}
{% include 'post/posts/__js__/buttons/resetButton.html' %}

{% include 'post/posts/__js__/postsMutable/infinitivePagination.html' %}
{% include 'post/posts/__js__/postsMutable/filters.html' %}
{% include 'post/posts/__js__/postsMutable/search.html' %}

{% include 'post/posts/__js__/createPostForm/form.html' %}
{% include 'post/posts/__js__/createPostForm/setPhotoWidget.html' %}