{% include 'shared/js/onPossibleScroll.html' %}

{% include 'post/posts/__js__/consts.html' %}

{% include 'post/posts/__js__/setJS/setLikeButtons.html' %}
{% include 'post/posts/__js__/setJS/setReplyButtons.html' %}
{% include 'post/posts/__js__/setJS/setShowMoreButtons.html' %}
{% include 'post/posts/__js__/setJS/setReplyLinks.html' %}
{% include 'post/posts/__js__/setJS/setPostsElemJS.html' %}

{% include 'post/posts/__js__/buttons/showFilterButton.html' %}
{% include 'post/posts/__js__/buttons/resetButton.html' %}

{% include 'post/posts/__js__/infinitivePagination.html' %}
{% include 'post/posts/__js__/filters.html' %}
{% include 'post/posts/__js__/search.html' %}

{% include 'post/posts/createPostForm/__js__/form.html' %}
{% include 'post/posts/createPostForm/__js__/setPhotoWidget.html' %}