{% extends 'base/base.html' %}
{% load static %}

{% block title %}Posts{% endblock %}

{% block links %}
    {% include 'post/posts/css.html' %}
{% endblock %}

{% block main %}
    <div class="posts">
        <div class="posts__wrapper">

            <div>
                {% include 'post/posts/createPostForm/createPostForm.html' %}
            </div>

            <div class="posts__container">
                {% include 'post/posts/postsListGenerated/postsListGenerated.html' %}
            </div>

        </div>

        <div class="posts__filters">
            {% include 'post/posts/filters/filters.html' %}
        </div>

    </div>
{% endblock %}

{% block scripts %}
    {% include 'shared/js/goToTop.html' %}

    <script src="{% static 'base/js/axios.min.js' %}"></script>
    {% include 'post/posts/js.html' %}
{% endblock %}
