{% extends 'base/base.html' %}
{% load static %}

{% block title %}Confirm your password{% endblock %}

{% block links %}
    <link rel="stylesheet" href="{% static 'account/css/password_reset_confirm.css' %}">
{% endblock %}

{% block main %}
    <div class="password_reset">
        {% if validlink %}
            <div class="password_reset__title">Please enter your password.</div>
            <form method="POST">
                {% csrf_token %}
                <p>
                    <span class="label">{{ form.new_password1.label }}</span>
                    {{ form.new_password1 }}{{ form.new_password1.errors }}
                </p>
                <p>
                    <span class="label">{{ form.new_password2.label }}</span>
                    {{ form.new_password2 }}{{ form.new_password2.errors }}
                </p>
                <button type="submit">reset</button>
            </form>
        {% else %}
            <div class="password_reset__little_title">
                The password rest link is invalid.
            </div>
        {% endif %}
    </div>
{% endblock %}