{% load static %}
{% load thumbnail %}

<article class="post" {% if forloop.last %} hx-trigger="revealed" {% endif %}>
    <div class="post__container">

        {% include 'post/posts/post/header/header.html' %}

        {% include 'post/posts/post/description/description.html' %}

        {% if post.photo %}
            {% include 'post/posts/post/image/image.html' %}
        {% else %}
            <div class="post__replaced_image_blank"></div>
        {% endif %}

        {% include 'post/posts/post/buttons/buttons.html' %}

    </div>

    {% include 'post/posts/post/replies/replies.html' %}

</article>