{% load static %}
{% load thumbnail %}

<div class="profile__header-avatar">
    {% if user.photo %}
        <img src="{% thumbnail user.photo 550x550 crop="smart" quality=100 %}" alt=""
             class="profile__header-avatar-img no_select" loading="lazy">
    {% else %}
        {% if user.gender == 'FL' %}
            <img src="{% static 'base/images/female.png' %}"
                 class="profile__header-avatar-img no_select" loading="lazy" alt="">
        {% else %}
            <img src="{% static 'base/images/profile.png' %}"
                 class="profile__header-avatar-img no_select" loading="lazy" alt="">
        {% endif %}
    {% endif %}
</div>