<style>
    .password_reset {
        position: relative;
        background-color: #ffffff;
        color: #454a4d;
        width: 345px;
        border-radius: 15px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
        margin: 102px auto 15px auto;
        padding: 12px 14px;
        text-align: center;
        font-size: 15px;
    }
    .password_reset__title {
        margin-bottom: 7px;
        font-size: 20px;
        color: #454a4d;
    }
    input[id="id_password"] {
        margin-bottom: 9px;
    }
    .label {
        display: inline-block;
        width: 310px;
        text-align: start;
    }
    .errorlist {
        width: 310px;
        text-align: start;
        margin: 0 auto;
        color: #f80101;
        font-size: 13px;
        line-height: 26px;
    }

    input {margin-bottom: 5px}
    .email_field {margin-bottom: 5px}
</style>