<style>
    .profile {
        margin: 16px auto;
        max-width: 1050px;
    }
    .profile__container {margin: 0 4%;}
    .profile-posts__container {
        transition: .2s;
        max-width: 600px;
        padding: 0;
        margin: 16px 0;  !important;
    }
    .profile__create_post_form {
       max-width: 600px;
       margin: 16px 0;
       transition: .2s;
    }

    .post__replies-footer {
        display: flex;
        align-items: center;
        width: 100%;
    }

    .post__replies-footer-user_icon {
        flex: 0 0 42px;
        margin-right: 2px;
    }
    .post__replies-footer-user_icon-img {
        object-fit: cover;
        height: 42px;
        width: 42px;
        border-radius: 50%;
    }

   .post__replies-footer-form {
       flex: 1 1 450px;

       display: flex;
   }

   input[id="id_content"] {
       flex: 1 1 300px;
       margin-right: 6px;
       padding: 9px 13px;
       height: 38px;

       border-radius: 7px;
       font-size: 17px;
       background: transparent;
       border: none;
   }
   .post__replies-footer-form-button {
       font-weight: bold;
       border: 1px solid rgb(29, 155, 240);
       border-radius: 25px;
       padding: 8px 12px;
       background-color: rgb(29, 155, 240);
       color: #ffffff;

       position: relative;
       top: 5px;
   }

   .profile__main_content {
       display: flex;
       flex-direction: row-reverse;
       height: 100%;
   }
   .profile_all_posts {flex: 1 0 61%;}
   .no_exists__post_container {
       padding: 6px 20px !important;
   }
    @media (max-width: 670px) {
       .profile__followings {display: none;}
        .profile__create_post_form {max-width: 635px;}
        .profile-posts__container {max-width: 635px;}
         .profile__container {margin: 0 15px;}
    }
    @media (max-width: 900px) {
        .profile__followings {flex-basis: 32% !important;}
    }

    .messages {
        background-color: #ffffff;
        margin-bottom: 8px;
    }
    @keyframes hide {
        0% {opacity: 1; height: 40px;}
        80% {opacity: 0;}
        100% {height: 0; background-color: rgb(222, 223, 223);}
    }

    .success_animation {
        animation: hide .05s infinite;
    }

    .messages {margin-bottom: 14px;}

    .messages li {margin-bottom: 7px;}
    .messages li:last-child {margin-bottom: 0;}

    .close {
        transition: .2s;
        top: 9px;
        right: 9px;
        width: 20px;
        font-size: 21px;
        font-weight: bold;
        line-height: 1;
        color: #000;
        text-shadow: 0 1px 0 #fff;
        opacity: .35;
    }

    .close:hover,.close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
        opacity: .5;
    }

    button.close {
        padding: 0;
        cursor: pointer;
        background: transparent;
        border: 0;
        -webkit-appearance: none;
    }

    .alert {
        display: flex;

        position: relative;
        padding: 3px 15px;
        margin: 0 auto -4px auto;
        border-radius: 10px;
        max-width: 964px;

        color: #270;
        background-color: rgba(28, 224, 50, 0.3);
        border: 1px solid rgba(0, 157, 19, 0.7);
    }
    .alert__text {font-size: 15.5px !important; padding-left: 1px;}

    button[type="button"] {position: absolute;}

    .alert__icon {
        position: relative;
        top: 5px;
        right: 5.5px;
        height: 24px;
    }

    @media (max-width: 860px) {
        .profile__header-cover {max-height: 230px !important;}
        .profile__header-avatar {top: 148px !important;}
        .info__gender {bottom: 16px !important;}
        .info__age {bottom: -10px !important;}
        .follow_button {
            top: 5px !important;
            right: 15px !important;
        }
        .action_buttons {flex: 0 0 0 !important;}
        .action_buttons__owner_container {display: none !important;}
        .hidden_buttons {display: block !important;}
        .edit_cover_button {
            right: 35px !important;
        }
    }
    @media (max-width: 500px) {
        .profile__header-cover {max-height: 180px !important;}
        .profile__header-avatar {left: 16px !important; top: 110px !important;}
        .profile__header-avatar-img {
            height: 160px !important;
            width: 160px !important;
        }
        .profile__header-content {
            padding-left: 190px !important;
        }
        .info__username {
            font-size: 18px !important;
        }
        .follow_button {display: none !important;}
    }
    @media (max-width: 386px) {
        .profile__header {width: 344px !important;}
    }
</style>

{% include 'account/profile/edit_window/css.html' %}
{% include 'account/profile/header/css.html' %}
{% include 'account/profile/followings/css.html' %}