{% extends 'base/base.html' %}
{% load static %}

{% block title %}Profile{% endblock %}

{% block links %}
    {% include 'account/profile/css.html' %}
    {% include 'post/posts/css.html' %}
{% endblock %}

{% block main %}
    <div class="profile">
        <div class="profile__container">
            {% if messages %}
             <ul class="messages">
                 {% for message in messages %}
                    <div class="alert">
                        <img class="alert__icon" src="{% static 'base/images/check_mark.svg' %}" alt="">

                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true"
                                onclick="this.parentElement.classList.add('success_animation');
                                         setTimeout(() => this.parentElement.remove(), 49);
                                         this.children[0].remove();">×</button>

                        <div class="alert__text"><strong>Success!</strong> {{ message|safe }}</div>
                    </div>
                {% endfor %}
            </ul>
        {% endif %}

            {% include 'account/profile/header/header.html' %}

            <div class="profile__main_content">

                {% include 'account/profile/followings/followings.html' %}

                <div class="profile_all_posts">
                    {% if is_owner %}
                        <div class="profile__create_post_form">
                            {% include 'post/posts/createPostForm/createPostForm.html' %}
                        </div>
                    {% endif %}

                    <div class="profile-posts__container posts__container">
                        {% for post in user_posts %}
                            {% include 'post/posts/post/post.html' %}
                        {% endfor %}

                        {% if not is_owner and not user_posts.exists %}
                            <div class="post">
                                <div class="post__container no_exists__post_container">
                                    No posts yet
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {% include 'shared/js/goToTop.html' %}

    <script defer src="{% static 'base/js/axios.min.js' %}"></script>
    {% include 'post/posts/js.html' %}
    {% include 'account/profile/js.html' %}
{% endblock %}
