{% load static %}
{% load human_month %}

<script defer>
    let saveButtonBlockRequest = false

    function editWindowLoaded() {
        const csrf_token_input = document.querySelector("input[name='csrfmiddlewaretoken']")
        const csrf_token = csrf_token_input ? csrf_token_input.value : null
        const edit_window = document.querySelector('.edit_window')
        const edit_form = document.querySelector('.edit_form')
        const save_button = document.querySelector('.edit_form__save_button')
        const info_username = document.querySelector('.info__username')

        let default_username = edit_form.elements.username.value
        let default_description = edit_form.elements.description.value
        let default_gender = edit_form.elements.gender.value
        let default_birthday_day = edit_form.elements.birthday_day.value
        let default_birthday_month = edit_form.elements.birthday_month.value
        let default_birthday_year = edit_form.elements.birthday_year.value
        let default_photo = edit_form.elements.photo.files[0]

        const form_inputs = new Map([
            ['username', edit_form.elements.username],
            ['description', document.querySelector('.edit_form__description')],
            ['birthday', document.querySelector('.edit_form__birthday')],
            ['gender', document.querySelector('.edit_form__gender')],
            ['photo', document.querySelector('.edit_form__photo')],
        ])

        const header_avatar = document.querySelector('.profile__header-avatar')
        const user_icon = document.querySelector('.user__icon')
        const posts_user_icon = document.querySelector('.posts__user_icon')

        const gender_view = new Map([
            ['ML', 'Male'], ['FL', 'Female'], ['CM', 'Custom']
        ])
        const gender_image_wrapper = document.querySelector('.info__gender-img-wrapper')
        const profile_gender = document.querySelector('.info__gender-text')
        const profile_age_year = document.querySelector('.info__age-year')
        const profile_age_month = document.querySelector('.info__age-month')
        const profile_age_day = document.querySelector('.info__age-day')
        const profile_description = document.querySelector('.info__description')
        const profile_username = document.querySelector('.info__username')

        const HUMAN_MONTHS = [
            "January",
            "February",
            "March",
            "April",
            "May",
            "June",
            "July",
            "August",
            "September",
            "October",
            "November",
            "December",
        ]

        edit_window.onsubmit = e => {
            e.preventDefault()

            const form = new FormData()
            form.append('username', edit_form.elements.username.value)
            form.append('description', edit_form.elements.description.value)
            form.append('birthday_month', edit_form.elements.birthday_month.value)
            form.append('birthday_day', edit_form.elements.birthday_day.value)
            form.append('birthday_year', edit_form.elements.birthday_year.value)
            form.append('gender', edit_form.elements.gender.value)
            form.append('photo', edit_form.elements.photo.files[0])

            const headers = {
                'X-CSRFToken': csrf_token,
                'Content-Type': `multipart/form-data;
                 boundary=${form._boundary}`
            }

            save_button.innerHTML = `{% include 'shared/loading_icon.html' with loading_icon_size=18 loading_icon_weight=3 %}`

            if (!saveButtonBlockRequest) {
                setTimeout(() => {
                    async function _() {
                        saveButtonBlockRequest = true

                        const url = `{% url 'account:edit_window' user.username %}`
                        const response = await axios.post(url, form, {headers})
                        const error_lists = document.querySelectorAll('.edit_form .errorlist')
                        error_lists.forEach(x => x.remove())

                        if (response.data.is_errors) {
                            for (const [key, value] of Object.entries(response.data)) {
                                const input_wrapper = form_inputs.get(key)

                                input_wrapper && input_wrapper.insertAdjacentHTML(
                                    'afterend',
                                    `<ul class="errorlist">
                                         <li>${value}</li>
                                     </ul>`,
                                )
                            }
                        } else {
                            const current_photo = form.get('photo')
                            if (default_photo !== current_photo &&
                                current_photo !== 'undefined') {

                                const file = current_photo
                                const name = 'file' + file
                                const name_2 = 'file_2' + file
                                const name_3 = 'file_3' + file

                                const reader = new FileReader()
                                reader.readAsDataURL(file)

                                header_avatar.innerHTML =
                                    '<img id="'+ name +'" src="" alt="" class="profile__header-avatar-img" />'
                                user_icon.innerHTML =
                                    '<img id="'+ name_2 +'" src="" alt="" class="photo_widget__image" />'
                                posts_user_icon.innerHTML =
                                    '<img id="'+ name_3 +'" src="" alt="" class="posts__user_icon-img" />'


                                const username = info_username.innerText
                                const reply_item_set = document.querySelectorAll('.reply_item')

                                const the_same_user_replies = []
                                for (let reply_item of Array.from(reply_item_set)) {
                                    const reply_username = reply_item.querySelector('.reply_item-info-username a').innerText

                                    if (username === reply_username) {
                                        const reply_icon = reply_item.querySelector('.reply_item-user_icon')
                                        the_same_user_replies.push(reply_icon)
                                    }
                                }

                                const base_name_count_const = 4
                                let base_name_count = 4
                                const posts_user_icon_set = document.querySelectorAll('.post__header-user-icon')
                                Array.from(posts_user_icon_set).forEach(
                                    elem => {
                                        elem.innerHTML = `<img id="name_${base_name_count}" src="" alt="" class="posts__user_icon-img" />`
                                        base_name_count++
                                    }
                                )

                                const reply_name_count_const = 4
                                let reply_name_count = 4
                                const post_replies_user_icon_set = document.querySelectorAll('.post__replies-footer-user_icon')
                                Array.from(post_replies_user_icon_set).forEach(
                                    elem => {
                                        elem.innerHTML = `<img id="reply_name_${reply_name_count}" src="" alt="" class="post__replies-footer-user_icon-img no_select" />`
                                        reply_name_count++
                                    }
                                )

                                const same_name_reply_count_const = 4
                                let same_name_reply_count = 4
                                the_same_user_replies.forEach(
                                    elem => {
                                        elem.innerHTML = `<img id="same_reply_${same_name_reply_count}" src="" alt="" class="reply_item-user_icon-img" />`
                                        same_name_reply_count++
                                    }
                                )

                                reader.onload = e => {
                                    const result = e.target.result
                                    document.getElementById(name).src = result
                                    document.getElementById(name_2).src = result
                                    document.getElementById(name_3).src = result

                                    for (let i = base_name_count_const; i < base_name_count; i++) {
                                        document.getElementById(`name_${i}`).src = result
                                    }

                                    for (let i = reply_name_count_const; i < reply_name_count; i++) {
                                        document.getElementById(`reply_name_${i}`).src = result
                                    }

                                    for (let i = same_name_reply_count_const; i < same_name_reply_count; i++) {
                                        document.getElementById(`same_reply_${i}`).src = result
                                    }
                                }

                                default_photo = current_photo
                            }

                            const current_username = form.get('username')
                            if (default_username !== current_username &&
                                current_username !== 'undefined') {

                                default_username = current_username

                                profile_username.innerText = current_username

                                const path = `{% url 'account:detail' user.username %}`.split('/').slice(1, -2)
                                location.href = `/${path}/${current_username}/`
                            }

                            const current_gender = form.get('gender')
                            if (default_gender !== current_gender &&
                                current_gender !== 'undefined') {

                                default_gender = current_gender

                                profile_gender.innerText = gender_view.get(current_gender)

                                if (current_gender === 'FL') {
                                    gender_image_wrapper.innerHTML =
                                        `<img src="{% static 'base/images/gender_female.svg' %}"
                                              alt="" class="info__gender-img">`
                                }
                                else if (current_gender === 'ML' || current_gender === 'CM') {
                                    gender_image_wrapper.innerHTML =
                                        `<img src="{% static 'base/images/gender_male.svg' %}"
                                              alt="" class="info__gender-img">`
                                }
                            }

                            const current_birthday_day = form.get('birthday_day')
                            if (default_birthday_day !== current_birthday_day &&
                                current_birthday_day !== 'undefined' ) {

                                default_birthday_day = current_birthday_day

                                profile_age_day.innerHTML = current_birthday_day
                            }

                            const current_birthday_month = form.get('birthday_month')
                            if (default_birthday_month !== current_birthday_month &&
                                current_birthday_month !== 'undefined') {

                                default_birthday_month = current_birthday_month

                                profile_age_month.innerHTML = HUMAN_MONTHS[current_birthday_month-1]
                            }

                            const current_birthday_year = form.get('birthday_year')
                            if (default_birthday_year !== current_birthday_year &&
                                current_birthday_year !== 'undefined') {

                                default_birthday_year = current_birthday_year

                                profile_age_year.innerHTML = current_birthday_year
                            }

                            const current_description = form.get('description')
                            if (default_description !== current_description &&
                                current_description !== 'undefined') {

                                default_description = current_description

                                profile_description.innerText = current_description
                            }

                            edit_link_button.classList.remove('edit_link_button--active')
                            remove_elem(edit_window)
                            showScroll(edit_window)
                        }

                        save_button.innerHTML = 'Save'

                        saveButtonBlockRequest = false
                    }_()
                }, SAVE_BUTTON_DELAY)
            }
        }
    }
</script>