{% load static %}
{% load thumbnail %}

<div class="post__replies-footer no_opacity">

    <div class="post__replies-footer-user_icon">
        <a href="{{ post.user.get_absolute_url }}">
            {% if request.user.photo %}
                <img src="{% thumbnail request.user.photo 128x128 crop="smart" quality=100 %}" alt=""
                     class="post__replies-footer-user_icon-img no_select">
            {% else %}
                {% if request.user.gender == 'FL' %}
                    <img src="{% static 'base/images/female.png' %}"
                         class="post__replies-footer-user_icon-img no_select" loading="lazy" alt="">
                {% else %}
                    <img src="{% static 'base/images/profile.png' %}"
                         class="post__replies-footer-user_icon-img no_select" loading="lazy" alt="">
                {% endif %}
            {% endif %}
        </a>
    </div>

    <form method="POST" class="post__replies-footer-form" >
        {% csrf_token %}
        {{ reply_form.content }}
        <button type="submit" class="post__replies-footer-form-button">
            Reply
        </button>
    </form>

</div>