{% load static %}
{% load thumbnail %}

<article class="following_user"
         onclick="location.href='{{ following_user.get_absolute_url }}'">

    <div class="following_user__image">
        {% if following_user.photo %}
            <img src="{% thumbnail following_user.photo 100x100 crop="smart" %}"
                 class="following_user__image-img" loading="lazy" alt="">
        {% else %}
            <img src="{% static 'base/images/profile.png' %}"
                 class="following_user__image-img" loading="lazy" alt="">
        {% endif %}
    </div>

    <div class="following_user__username">
        {{ following_user.username }}
        {% if following_user.is_staff %}
            <span style="position: relative; right: 4px;">
                {% include 'shared/icon_verified.html' %}
            </span>
        {% endif %}
    </div>

</article>