<style>
    .profile__header {
        position: relative;
        width: 100%;
        height: 100%;
        box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, .01);
        border: 1px solid rgb(208, 208, 208);
        border-radius: 15px;
    }
</style>

{% include 'account/profile/header/avatar/css.html' %}
{% include 'account/profile/header/cover/css.html' %}
{% include 'account/profile/header/editCoverButton/css.html' %}
{% include 'account/profile/header/main/css.html' %}
{% include 'account/profile/header/hiddenButtons/css.html' %}