<style>
    .users {
        display: flex;

        border-radius: 15px;
        height: 100%;
        margin: 18px auto;
        max-width: 1280px;
    }

    .users__container {
        flex: 1 0 980px;

        display: grid;
        gap: 18px;
        grid-template-columns: repeat(3, minmax(230px, 1fr));
        grid-auto-rows: 168px;
        padding: 0 15px;

        height: 100%;
    }

    .users__filters {
        flex: 1 0 300px;

        border-radius: 12px;
        padding: 10px;
        margin-right: 15px;
        background-color: #e3e4e5;
        max-height: 400px;
    }
</style>
{% include 'account/users/user/css.html' %}