<style>
    .users {
        display: flex;
        transition: .25s;

        border-radius: 15px;
        height: 100%;
        margin: 18px auto;
        max-width: 1280px;
    }

    .users__container {
        flex: 1 0 980px;

        display: grid;
        gap: 18px;
        grid-template-columns: repeat(3, minmax(230px, 1fr));
        grid-auto-rows: 168px;
        padding: 0 15px;

        height: 100%;
    }

    .users__filters {
        flex: 0 0 200px;
        position: sticky;
        top: 65px;

        border-radius: 12px;
        padding: 10px 20px;
        margin-right: 15px;
        background-color: #e3e4e5;
        max-height: 400px;
    }

    @media (max-width: 1420px) {
        .users {
            max-width: 1000px;
        }
        .users__container {
            flex: 1 1 700px;
            grid-template-columns: repeat(2, minmax(230px, 1fr));
        }
    }
    @media (max-width: 1020px) {
        .users {max-width: 840px;}
        .users__filters {display: none;}
    }
    @media (max-width: 730px) {
        .users__container {
            grid-template-columns: repeat(1, minmax(230px, 1fr));
        }
    }
    @media (max-width: 380px) {
        .users__container {width: 360px;}
    }
</style>
{% include 'account/users/user/css.html' %}