{% extends 'base/base.html' %}
{% load static %}
{% load thumbnail %}
{% load minus %}

{% block title %}Users{% endblock %}

{% block links %}
    {% include 'account/users/css.html' %}
{% endblock %}

{% block main %}
    <div class="users">
        <div class="users__container">
            {% for user in users %}
                <article class="user">
                    <div class="user__photo">
                        {% if user.photo %}
                            <img src="{% thumbnail user.photo 450x450 crop="smart" quality=100 %}" alt="">
                        {% else %}
                            <img src="{% static 'base/images/profile.png' %}" alt="">
                        {% endif %}
                    </div>
                    <div class="user__info">
                        <div class="user__info-username">
                            <a href="{% url 'account:detail' user.username %}">
                                {{ user.username }}
                            </a>
                        </div>
                        <div class="user__info-description">
                            {{ user.description|default:""|linebreaks|truncatechars:40}}
                            <button class="user__follow">follow</button>
                        </div>
                    </div>
                </article>
            {% endfor %}
        </div>
        <div class="users__filters">
            FILTERS
        </div>
    </div>
{% endblock %}

{% block footer %}
    {% include 'base/footer/footer.html' %}
{% endblock %}