{% extends 'base/base.html' %}
{% load static %}

{% block title %}Users{% endblock %}

{% block links %}
    {% include 'account/users/css.html' %}
{% endblock %}

{% block main %}
    <div class="users">

        <div class="users__container">
            {% include 'account/users/userListGenerated/userListGenerated.html' with no_last_target=True %}
        </div>

        <div class="users__filters">
            FILTERS
        </div>

    </div>
{% endblock %}

{% block scripts %}
    <script defer src="{% static 'base/js/axios.min.js' %}"></script>
    {% include 'account/users/js.html' %}
{% endblock %}