{% extends 'base/base.html' %}
{% load static %}

{% block title %}Users{% endblock %}

{% block links %}
    {% include 'base/footer/css.html' %}
    {% include 'account/users/css.html' %}
{% endblock %}

{% block main %}
    <div class="users">

        <div class="users__container">
            {% for user in users %}
                {% include 'account/users/user/user.html' %}
            {% endfor %}
        </div>

        <div class="users__filters">
            FILTERS
        </div>

    </div>
{% endblock %}

{% block scripts %}
    <script defer src="{% static 'base/js/axios.min.js' %}"></script>
    {% include 'account/users/js.html' %}
{% endblock %}

{% block footer %}
    {% include 'base/footer/footer.html' %}
{% endblock %}