<style>
    .menu_burger_content,
    .menu_burger_content__item-link,
    .menu_burger_content__cross {
        transition: .56s opacity;
    }

    .burger_menu_background {
        transition: .33s top;
        position: fixed;
        top: -110%;
        right: 0;
        width: 100%;
        height: 100%;
        z-index: 1000;
        background-color: #f2f2f2;
    }

    @keyframes show {
      from { opacity: 0; }
      to { opacity: 1; }
    }

    .menu_burger_content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        position: fixed;
        width: 100%;
        height: 100%;
        z-index: 1001;
        padding: 20px;
        -webkit-animation: show;
        -o-animation: show;
        animation: show;
        opacity: 0;
    }

    .base_menu_links {
        padding-bottom: 160px;
    }

    .menu_burger_content__item {
        display: inline-flex;
        justify-content: center;
        width: 100%;
        font-size: 2.3rem;
        padding: 18px;
    }
    .menu_burger_content__item-link {
        transition: .2s;
        cursor: pointer;
        text-align: center;
    }
    .menu_burger_content__item-link:hover {color: #697275;}
    .menu_burger_content__item-link--selected {display: inline-block; border-bottom: 2px solid #54575b;}

    .menu_burger_content__cross {
        cursor: pointer;
        position: fixed;
        top: 9px;
        right: 15px;
        height: 38px;
        width: 38px;
        padding: 8px;
        border-radius: 50%;
    }
    .menu_burger_content__cross:hover {background-color: rgba(0, 0, 0, 0.08)}
</style>