<style>
    body {overflow-x: hidden;}
    #app_wrapper {
        grid-template-areas:
            "header"
            "main"
            "footer";
        grid-template-rows: 50px calc(100% - 110px) 60px;
        -ms-grid-rows: 50px calc(100% - 110px) 60px;
    }
    footer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        height: 100%;
        width: 100%;
        background-color: #000000;
        color: #f1f1f1;
    }
    .copyright {
        display: flex;
        align-items: center;
        justify-content: center;
    }
</style>

