<div class="followings_pagination_blank"></div>
<div class="followings_pagination no_select">

    {% if following_users.has_previous %}
        <span class="previous_arrow previous_arrow--base"
              data-previous="{{ following_users.previous_page_number }}">
            {% include 'shared/followings/left_arrow.html' %}
        </span>
    {% else %}
        <span class="previous_arrow--base">
            {% include 'shared/followings/left_arrow.html' %}
        </span>
    {% endif %}

    {% if following_users.number|add:'-3' > 0 %}
        <span class="full_left">...</span>
    {% endif %}
    {% if following_users.number|add:'-2' > 0 %}
        <span class="followings__pagination-item">
            {{ following_users.number|add:'-2' }}
        </span>
    {% endif %}
    {% if following_users.number|add:'-1' > 0 %}
        <span class="followings__pagination-item">
            {{ following_users.number|add:'-1' }}
        </span>
    {% endif %}

    <span class="followings__pagination-current_item">
        {{ following_users.number }}
    </span>

    {% if following_users.number|add:'1' <= following_users.paginator.num_pages %}
        <span class="followings__pagination-item">
            {{ following_users.number|add:'1' }}
        </span>
    {% endif %}
    {% if following_users.number|add:'2' <= following_users.paginator.num_pages %}
        <span class="followings__pagination-item">
            {{ following_users.number|add:'2' }}
        </span>
    {% endif %}
    {% if following_users.number|add:'3' <= following_users.paginator.num_pages %}
        <span class="full_right">...</span>
    {% endif %}

    {% if following_users.has_next %}
        <span class="next_arrow next_arrow--base"
              data-next="{{ following_users.next_page_number }}">
            {% include 'shared/followings/right_arrow.html' %}
        </span>
    {% else %}
        <span class="next_arrow--base">
            {% include 'shared/followings/right_arrow.html' %}
        </span>
    {% endif %}

</div>