<style>
    body {background-color: rgb(222, 223, 223);}

    input {
        padding: 12px 15px;
        border: 1px solid #d0cccc;
        margin-bottom: 9px;
    }
    input[id="id_password"] {margin-bottom: 9px;}
    input, button {
        transition: .2s;
        font-size: 15px;
        width: 310px;
        border-radius: 6px;
        font-size: 15px;
    }
    button {
        padding: 12px 15px;
        background-color: rgb(1, 135, 180);
        color: #ffffff;
        font-weight: bold;
    }
    button:hover {background-color: rgb(16, 123, 199);}

    input:hover {}

    a {transition: .2s}
    a:hover {color: #2390ee;}
</style>