<style>
    body {background-color: rgb(222, 223, 223);}

    input {
        padding: 12px 15px;
        border: 1px solid #d0cccc;
        margin-bottom: 9px;
    }
    input[id="id_password"] {margin-bottom: 9px;}
    input, button {
        transition: .15s;
        font-size: 15px;
        width: 310px;
        border-radius: 6px;
    }
    button {
        padding: 12px 15px;
        background-color: rgb(1, 135, 180);
        color: #ffffff;
        font-weight: bold;
    }
    button:hover {background-color: rgb(16, 123, 199);}

    input[type="username"]:focus,
    input[type="email"]:focus,
    input[type="password"]:focus,
    input[type="text"]:focus {
        border: 1px ridge #1b74e4;
    }

    main a {transition: .2s}
    main a:hover {color: #2390ee;}
</style>