<script defer>
    document.addEventListener('DOMContentLoaded', () => {
        const csrf_token_input = document.querySelector("input[name='csrfmiddlewaretoken']")
        const csrf_token = csrf_token_input ? csrf_token_input.value : null

        const cover_file_loader = document.getElementById('cover_file_loader')

        const profile_header_cover_image = document.querySelector('.profile__header-cover-base_image') ||
                                           document.querySelector('.profile__header-cover-image')

        if (cover_file_loader) cover_file_loader.onchange = function() {
            const input = this
            const files = input.files
            const reader = []

            const cover_extension_error = document.querySelector('.cover_extension_error')
            cover_extension_error && cover_extension_error.remove()

            const extension = files[0].name.split('.').at(-1)

            if (ALLOWED_EXTENSIONS.includes(extension)) {
                for (let i in files) {
                    if (files.hasOwnProperty(i)) {
                        const name = 'file' + i

                        reader[i] = new FileReader()
                        reader[i].readAsDataURL(input.files[i])

                        const form = new FormData()
                        form.append('cover', input.files[0])

                        const headers = {
                            'X-CSRFToken': csrf_token,
                            'Content-Type': `multipart/form-data;
                             boundary=${form._boundary}`
                        }
                        async function _() {
                            const url = `{% url 'account:edit_cover' user.username %}`
                            await axios.post(url, form, {headers})
                        }_()

                        reader[i].onload = e => {
                            profile_header_cover_image.innerHTML =
                                '<img id="'+ name +'" src="" alt="" ' +
                                'class="profile__header-cover-image-img" />'
                            document.getElementById(name).src = e.target.result
                        }
                    }
                }
            } else {
                {% load static %}
                profile_header_cover_image.insertAdjacentHTML(
                    'beforeend',
                    `<div class="cover_extension_error"
                          style="height: 17px; overflow: hidden; opacity: 0.9;
                                 position: absolute; right: 129px; top: 24px;">
                        <img style="height: 58px;" src="{% static 'base/images/strong.png' %}" alt="">
                    </div>`
                )
            }
        }
    })
</script>