{% extends 'base/base.html' %}
{% load static %}

{% block title %}Login{% endblock %}

{% block links %}
    {% include 'shared/dark_input_page_css.html' %}
    {% include 'registration/login/css.html' %}
{% endblock %}

{% block main %}
    <div style="position: relative; top: 10%; transition: .2s">

        {% if messages %}
             <ul class="messages">
                 {% for message in messages %}
                    <div class="alert">
                        <img class="alert__icon" src="{% static 'base/images/check_mark.svg' %}" alt="">

                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true"
                                onclick="this.parentElement.classList.add('success_animation');
                                         setTimeout(() => this.parentElement.remove(), 49);
                                         this.children[0].remove();">×</button>

                        <div class="alert__text"><strong>Success!</strong> {{ message|safe }}</div>
                    </div>
                {% endfor %}
            </ul>
        {% endif %}

        <div class="login">
            <p class="login__title">
                Sign in to Mine
            </p>
            <form method="POST" class="login_form" autocomplete="off">
                {% csrf_token %}
                {% for field in form %}
                    {% if forloop.last %}
                        <div class="last_login__label_wrapper">
                            <span class="last_login__label">{{ field.label }}</span>
                            <span class="login__forgot_password">
                                <a href="{% url 'password_reset' %}">
                                    Forgot password?
                                </a>
                            </span>
                        </div>
                    {% else %}
                        <span class="login__label">{{ field.label }}</span>
                    {% endif %}

                    {% if forloop.last %}
                        <div class="password_wrapper">
                            {{ field }}
                            {% if form.errors %}
                                <div class="errorlist">
                                    Incorrect username or password
                                </div>
                            {% endif %}
                        </div>
                    {% else %}
                        {{ field }}
                    {% endif %}

                {% endfor %}
                <p><button type="submit">Sing in</button></p>
            </form>
            <div class="login__or">or</div>
            <div class="login__oauth oauth">
                <div class="oauth__item oauth__google">Google</div>
                <div class="oauth__item oauth__google">Yandex</div>
                <div class="oauth__item oauth__google">Facebook</div>
                <div class="oauth__item oauth__google">Apple</div>
            </div>
        </div>
        <div class="login__caption">
            New to Mine?
            <span class="sign_up_link"><a href="{% url 'registration' %}">Create an account</a>.</span>
        </div>

    </div>
{% endblock %}