body {background-color: rgb(222, 223, 223);}

.password_change {
    position: relative;
    background-color: #ffffff;
    color: #454a4d;
    width: 345px;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
    margin: 30px auto 15px auto;
    padding: 12px 14px;
    text-align: center;
    font-size: 15px;
}
.password_change__title {
    margin-bottom: 7px;
    font-size: 20px;
    color: #454a4d;
}


input {
    padding: 12px 15px;
    border: 1px solid #d0cccc;
    margin-bottom: 9px;
}
input[id="id_password"] {
    margin-bottom: 9px;
}
input, button {
    width: 310px;
    border-radius: 6px;
}
button {
    padding: 12px 15px;
    background-color: rgb(1, 135, 180);
    color: #ffffff;
    font-size: 15px;
}
.label {
    display: inline-block;
    width: 100%;
    text-align: start;
}
.errorlist {
    width: 310px;
    text-align: start;
    margin: 0 auto;
    color: #f80101;
    font-size: 13px;
}