{% extends 'base/base.html' %}
{% load static %}
{% load thumbnail %}

{% block title %}Dashboard{% endblock %}

{% block links %}
    {% include 'base/footer/css.html' %}
    {% include 'dashboard/css.html' %}
{% endblock %}

{% block main %}
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li class="{{ message.tags }}">
                    {{ message|safe }}
                    <a href="#" class="close">x</a>
                </li>
            {% endfor %}
        </ul>
    {% endif%}
    <section class="main__image">
        <div class="main__center_text">
            <div class="main__center_text-container">
                <h1 class="main__center_text-title">Dashboard</h1>
                <div class="statistics">
                    <div class="statistics__item">
                        <div class="statistics__item-container">
                            <div class="statistics__item-label">Posts</div>
                            <div class="statistics__item-count">
                                {{ posts_count }}
                            </div>
                        </div>
                    </div>
                    <div class="statistics__item">
                        <div class="statistics__item-container">
                            <div class="statistics__item-label">Users</div>
                            <div class="statistics__item-count">
                                {{ users_count }}
                            </div>
                        </div>
                    </div>
                    <div class="statistics__item">
                        <div class="statistics__item-container">
                            <div class="statistics__item-label">Actions</div>
                            <div class="statistics__item-count">
                                {{ actions_count }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <img src="{% static 'dashboard/images/desk_6.jpg' %}" class='no_select' alt="" />
        <div style="position: absolute; top: 0; left: 0; width: 100%;
                    height: 460px; background-color: rgba(0, 0, 0, 0.05); z-index: 1">
        </div>
    </section>
    <section class="actions">
        <h2 class="actions__title">Recent actions</h2>
        <div class="actions__content">
            {% for action in actions %}
                <article class="item_action" onclick="location.href='{{ action.user.get_absolute_url }}'">
                    {% if action.user.photo %}
                        <img src="{% thumbnail action.user.photo 100x100 crop="smart" %}" alt="">
                    {% else %}
                        <img src="{% static 'base/images/profile.png' %}" alt="">
                    {% endif %}
                    <div>
                        <p class="item_action__name">{{ action.user.username }}</p>
                        <p>{{ action.verb }} {{ action.content_object }}</p>
                    </div>
                </article>
            {% endfor %}
        </div>
    </section>
{% endblock %}

{% block footer %}
    {% include 'base/footer/footer.html' %}
{% endblock %}