<script defer>
    function infinityPaginationHandler(query_strings = '', no_block) {
        const users_container = document.querySelector('.users__container')
        const extraMargin = -180

        let emptyPage = false
        let page = 1
        let elem = document.querySelector('[hx-trigger="revealed"]')
        let isCreated = false
        let blockRequest = false

        window.onscroll = (event) => {
            const force = event.detail ? event.detail.force : false

            if (!blockRequest && !emptyPage) {
                const offset = elem => elem.getBoundingClientRect().top

                if (!isCreated) {
                    isCreated = true
                    setTimeout(() => {
                        isCreated = false
                        elem = document.querySelector('[hx-trigger="revealed"]')
                    }, 100)
                }
                const clientHeight = document.documentElement.clientHeight
                const last_post = elem ? offset(elem) : clientHeight+1
                const margin = last_post - extraMargin

                if (clientHeight > margin || force) {
                    if (force) {
                        const header_width = getComputedStyle(document.querySelector('header')).width
                        users_container.innerHTML = ''
                        onPossibleScroll(header_width)
                    }

                    blockRequest = true

                    const url = `{% url 'account:download_users' %}`
                    const full_url = force ? `${url}?page=1`
                                           : `${url}?page=${page}&${query_strings}`

                    users_container.insertAdjacentHTML(
                        'beforeend',
                        force ? `{% include 'shared/loading_icon.html' with center=True loading_icon_margin=True %}`
                              : `{% include 'shared/loading_icon.html' with loading_icon_margin=True %}`
                    )

                    async function _() {
                        block_list.push(full_url)

                        const timer = new Promise(resolve => setTimeout(resolve, MIN_PAGINATION_LOADING_DELAY))
                        const response = (await Promise.all([timer, axios.get(full_url)]))[1]
                        const html = response.data

                        if (no_block || !stable_block_list.includes(full_url)) {
                            if (!force) page++

                            if (html === '') emptyPage = true
                            else {
                                const elementFinder = document.createElement('div')
                                elementFinder.innerHTML = html

                                if (force) users_container.innerHTML = ''
                                const elements = Array.from(elementFinder.children)
                                elements.forEach(
                                    elem => {
                                        users_container.insertAdjacentElement(
                                            'beforeend', elem
                                        )
                                        setUserButton({
                                            form: elem.querySelector('.follow_button__form'),
                                            follow_button: elem.querySelector('.follow_button__button'),
                                            username: elem.querySelector('.user__info-username-link-username'),
                                        })
                                    }
                                )
                                showScroll()
                                set_a_tags()
                            }
                            elem && elem.removeAttribute('hx-trigger')
                        }

                        blockRequest = false

                        const loading_icon = document.querySelector('.loading_icon')
                        loading_icon && loading_icon.remove()
                    }_()
                }
            }
        }
    }

    window.addEventListener(
        'DOMContentLoaded', () => infinityPaginationHandler()
    )
</script>