{% load static %}
{% load thumbnail %}
{% load humanize %}

<article class="reply_item">

    {% with reply.user.get_absolute_url as user_absolute_url %}

        <div class="reply_item-user_icon">
            <a href="{{ user_absolute_url }}">
            {% if reply.user.photo %}
                <img src="{% thumbnail reply.user.photo 128x128 crop="smart" quality=100 %}" alt=""
                     class="reply_item-user_icon-img no_select">
            {% else %}
                {% if reply.user.gender == 'FL' %}
                    <img src="{% static 'base/images/female.png' %}"
                         class="reply_item-user_icon-img no_select" loading="lazy" alt="">
                {% else %}
                    <img src="{% static 'base/images/profile.png' %}"
                         class="reply_item-user_icon-img no_select" loading="lazy" alt="">
                {% endif %}
            {% endif %}
            </a>
        </div>

        <div class="reply_item-info {% if first %}reply_item-info--first{% endif %}">
            <div class="reply_item-info-username">
                <a href="{{ user_absolute_url }}">
                    {{ reply.user.username }}
                    {% if reply.user.is_staff %}
                        <span style="position: relative; right: 4px;">
                            {% include 'shared/icon_verified.html' with width=17 height=17 %}
                        </span>
                    {% endif %}
                </a>
            </div>
            <div class="reply_item-info-content">{{ reply.content }}</div>
            <div class="reply_item-info-created">
                {{ reply.created | naturaltime }}
            </div>
        </div>

    {% endwith %}

</article>