{% extends 'base/base.html' %}
{% load static %}

{% block title %}Change your password{% endblock %}

{% block links %}
    {% include 'shared/dark_input_page_css.html' %}
    {% include 'registration/password_change_form/css.html' %}
{% endblock %}

{% block main %}
    <div class="password_change">
        <div class="password_change__title">Change your password</div>
        <form method="POST" autocomplete="off">
            {% csrf_token %}
            <div class="old_password_wrapper">
                <span class="label">{{ form.old_password.label }}</span>
                {{ form.old_password }}{{ form.old_password.errors }}
            </div>
            <div class="new_password1_wrapper">
                <span class="label">{{ form.new_password1.label }}</span>
                {{ form.new_password1 }}{{ form.new_password1.errors }}
            </div>
            <div class="new_password2_wrapper">
                <span class="label">{{ form.new_password2.label }}</span>
                {{ form.new_password2 }}{{ form.new_password2.errors }}
            </div>
            <div><button type="submit">Change password</button></div>
        </form>
    </div>
{% endblock %}