{% extends 'base/base.html' %}
{% load static %}

{% block title %}Change your password{% endblock %}

{% block links %}
    <link rel="stylesheet" href="{% static 'account/css/password_change.css' %}">
{% endblock %}

{% block main %}
    <div class="password_change">
        <div class="password_change__title">Change your password</div>
        <form method="POST">
            {% csrf_token %}
            <p>
                <span class="label">{{ form.old_password.label }}</span>
                {{ form.old_password }}{{ form.old_password.errors }}
            </p>
            <p>
                <span class="label">{{ form.new_password1.label }}</span>
                {{ form.new_password1 }}{{ form.new_password1.errors }}
            </p>
            <p>
                <span class="label">{{ form.new_password2.label }}</span>
                {{ form.new_password2 }}{{ form.new_password2.errors }}
            </p>
            <p><button type="submit">Change password</button></p>
        </form>
    </div>
{% endblock %}