<script defer>
    function openLogoutWindow() {
        const logout_window = document.querySelector('.logout_window')

        if (typeof logout_window_block !== undefined)
            logout_window_block = true

        if (logout_window) {
            show_elem(logout_window)
            hideScroll(logout_window)
        } else {
            document.body.insertAdjacentHTML(
                'afterbegin',
                `{% include 'base/header/user/userMenu/logout/logout.html' %}`
            )
            const logout_window = document.querySelector('.logout_window')
            hideScroll(logout_window)
        }
    }
</script>

{% include 'base/header/user/userMenu/logout/js.html' %}