<script defer>
    function infinityPaginationHandler(query_strings = '') {
        const users_container = document.querySelector('.users__container')
        const extraMargin = -180  // depends on icon height

        let blockRequest = false
        let emptyPage = false
        let page = 1
        let elem = document.querySelector('[hx-trigger="revealed"]')
        let isCreated = false

        window.onscroll = (event) => {
            const force = event.detail ? event.detail.force : false

            if (!blockRequest && !emptyPage) {
                const offset = elem => elem.getBoundingClientRect().top

                if (!isCreated) {
                    isCreated = true
                    setTimeout(() => {
                        isCreated = false
                        elem = document.querySelector('[hx-trigger="revealed"]')
                    }, 100)
                }
                const clientHeight = document.documentElement.clientHeight
                const last_post = elem ? offset(elem) : clientHeight+1
                const margin = last_post - extraMargin

                console.log(clientHeight, '>', margin)

                if (!blockRequest && !emptyPage && clientHeight > margin || force) {

                    users_container.insertAdjacentHTML(
                        'beforeend',
                        `{% include 'shared/loading_icon.html' %}`
                    )

                    elem && elem.removeAttribute('hx-trigger')
                    blockRequest = true

                    if (!force)
                        page++

                    {async function _() {
                        let full_url = ''
                        const url = `{% url 'account:download_users' %}`

                        console.log(`${url}?&page=${page}&${query_strings}`)

                        if (force) {
                            full_url = `${url}?page=1`
                            users_container.innerHTML = ''
                        } else {
                            full_url = `${url}?page=${page}&${query_strings}`
                        }

                        const response = await axios.get(full_url)
                        const html = response.data

                        console.log(response)

                        if (html === '') {
                            emptyPage = true
                        } else {
                            const elementFinder = document.createElement('div')
                            elementFinder.innerHTML = html

                            const elements = Array.from(elementFinder.children)
                            elements.forEach(
                                elem => {
                                    users_container.insertAdjacentElement(
                                        'beforeend', elem
                                    )
                                    setUserButton({
                                        form: elem.querySelector('.follow_button__form'),
                                        follow_button: elem.querySelector('.follow_button__button'),
                                        username: elem.querySelector('.user__info-username-link-username'),
                                    })
                                }
                            )
                            showScroll()

                            blockRequest = false
                        }

                        const loading_icon = document.querySelector('.loading_icon')
                        loading_icon && loading_icon.remove()
                    }_()}
                }
            }
        }
    }

    window.addEventListener(
        'DOMContentLoaded', () => infinityPaginationHandler()
    )
</script>