<div class="hidden_buttons">
    <div class="hidden_buttons__links">
        <div class="reset_link">
            <a href="{% url 'password_reset' %}" class="hidden_buttons__link">
                Reset password
            </a>
        </div>

        <div>
            <a href="{% url 'password_change' %}" class="hidden_buttons__link">
                Change password
            </a>
        </div>
    </div>

    <div class="hidden_buttons__edit_profile">
        <div onclick="openEditWindow()" class="hidden_buttons__link">
            Edit profile
        </div>
    </div>
</div>