{% extends 'base/base.html' %}
{% load static %}

{% block title %}Reset your password{% endblock %}

{% block links %}
    {% include 'shared/dark_input_page_css.html' %}
    {% include 'registration/password_reset_form/css.html' %}
{% endblock %}

{% block main %}
    <div class="password_reset">
        <div class="password_reset__title">Forgotten your password?</div>
        <p style="font-size: 15px; margin-bottom: 5px; text-align: start; width: 310px; display: inline-block;">Enter your email to gain new password.</p>
        <form method="POST" autocomplete="off">
            {% csrf_token %}
            <div class="email_field">{{ form.email }}{{ form.email.errors }}</div>
            <div><button type="submit">Send email</button></div>
        </form>
    </div>
{% endblock %}