{% extends 'base/base.html' %}
{% load static %}

{% block title %}Reset your password{% endblock %}

{% block links %}
    {% include 'registration/password_reset_form/css.html' %}
{% endblock %}

{% block main %}
    <div class="password_reset">
        <div class="password_reset__title">Forgotten your password?</div>
        <p style="font-size: 15px; margin-bottom: 5px; text-align: start; width: 310px; display: inline-block;">Enter your email to gain new password.</p>
        <form method="POST">
            {% csrf_token %}
            <p>{{ form.email }}{{ form.email.errors }}</p>
            <p><button type="submit">Send email</button></p>
        </form>
    </div>
{% endblock %}