<nav class="menu">
    <span class="menu__item">
        <a class="menu__item-link" href="{% url 'dashboard' %}">
            <span class="menu__item-link-content
                        {% if menu_selected == 'dashboard' %}menu__item-link-content--selected{% endif %}">
                Dashboard
            </span>
        </a>
    </span>
    <span class="menu__item">
        <a class="menu__item-link" href="{% url 'post:list' %}">
            <span class="menu__item-link-content
                         {% if menu_selected == 'posts' %}menu__item-link-content--selected{% endif %}">
                Posts
            </span>
        </a>
    </span>
    <span class="menu__item">
        <a class="menu__item-link" href="{% url 'account:users' %}">
            <span class="menu__item-link-content
                         {% if menu_selected == 'users' %}menu__item-link-content--selected{% endif %}">
                Users
            </span>
        </a>
    </span>
</nav>