<nav class="menu">
    <span class="menu__item">
        <a class="menu__item-link"
           {% if not menu_selected == 'dashboard' %}href="{% url 'dashboard' %}"{% endif %}>
            <span class="menu__item-link-content
                        {% if menu_selected == 'dashboard' %}menu__item-link-content--selected{% endif %}">
                Dashboard
            </span>
        </a>
    </span>
    <span class="menu__item">
        <a class="menu__item-link"
           {% if not menu_selected == 'posts' %}href="{% url 'post:list' %}"{% endif %}>
            <span class="menu__item-link-content
                         {% if menu_selected == 'posts' %}menu__item-link-content--selected{% endif %}">
                Posts
            </span>
        </a>
    </span>
    <span class="menu__item">
        <a class="menu__item-link"
           {% if not menu_selected == 'users' %}href="{% url 'account:users' %}"{% endif %}>
            <span class="menu__item-link-content
                         {% if menu_selected == 'users' %}menu__item-link-content--selected{% endif %}">
                Users
            </span>
        </a>
    </span>
</nav>