<style>
    .post__replies {
        padding: 14px 20px 14px 18px;
        border-top: 1px solid rgb(208, 208, 208);
    }
    .post__replies-show_more {
        transition: .2s;
        cursor: pointer;
        color: #0f9af6;
        font-weight: bold;
        font-size: 13px;
        position: relative;
        bottom: 15px;
        margin-bottom: 2px;
    }
    .post__replies-show_more:hover {text-decoration: underline;}
</style>

{% include 'post/posts/post/replies/list/css.html' %}
{% include 'post/posts/post/replies/footer/css.html' %}