{% with post.replies as replies %}

    {% with replies.count as replies_count %}

        <div class="post__replies"
             {% if not replies_count %}
                style="padding: 0; border-top: 0;"
             {% elif replies_count >= 2 %}
                style="padding: 14px 20px 0 18px; margin-bottom: -9px;" data-type="show_more"
             {% elif replies_count == 1 %}
                style="margin-bottom: -13px;"
             {% endif %}>

            {% include 'post/posts/post/replies/list/list.html' %}

            <span class="post__replies-show_more {% if replies_count <= 1 %}no_display{% endif %}">
                Show more
            </span>

            {% include 'post/posts/post/replies/footer/footer.html' %}
        </div>

    {% endwith %}

{% endwith %}