{% load static %}
{% load human_month %}

<div class="info">
    <div class="info__username">
        {{ user.username }}

        {% if user.is_staff %}
            <span style="position: relative; right: 6px;">
                {% include 'shared/icon_verified.html' with width=22 height=22 %}
            </span>
        {% endif %}

    </div>
    <div class="info__description">{{ user.description }}</div>

    <div class="info__gender">
        <span class="info__gender-img-wrapper">
            {% if user.gender == 'ML' or user.gender == 'CM' %}

                <img src="{% static 'base/images/gender_male.svg' %}" alt=""
                     class="info__gender-img">

            {% elif user.gender == 'FL' %}

                <img src="{% static 'base/images/gender_female.svg' %}" alt=""
                     class="info__gender-img">

            {% endif %}
        </span>

        <span class="info__gender-text">{{ user.get_gender_display }}</span>
    </div>

    <div class="info__age">
        <img src="{% static 'base/images/gift.svg' %}" alt=""
             class="info__age-img">

        <span class="info__age-text">
            <span class="info__age-month">
                {{ user.birthday.month|human_month }}
            </span>
            <span class="info__age-day">{{ user.birthday.day }}</span>,
            <span class="info__age-year">{{ user.birthday.year }}</span>
        </span>
    </div>
</div>